/*Global*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 98%);
}

/*Header*/
header {
    margin-top: 4rem;
    text-align: center;
}

.lw-header {
    font-weight: 200;
}

.bold-header {
    font-weight: 600;
    margin-bottom: 1rem;
}

header p {
    width: 50%;
    margin: auto;
    font-weight: 200%;
}

/*Features*/
.features {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4rem 0rem;
    justify-content: center;
}

.column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features-card {
    width: 350px;
    margin: 0.5rem;
    padding: 2rem;
    border: 1px solid #eee;
    border-radius: 10px;
    box-shadow: 0px 10px 10px #eee;
}

.features-card h3 {
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.features-card p {
    font-weight: 200;
    font-size: 0.9rem;
}

.img-features {
    margin-top: 2em;
    display: block;
    text-align: right;
}

.supervisor {
    border-top: 4px solid hsl(180, 62%, 55%);
}

.team-builder {
    border-top: 4px solid hsl(0, 78%, 62%);
}

.karma {
    border-top: 4px solid hsl(34, 97%, 64%);
}

.calculator {
    border-top: 4px solid hsl(212, 86%, 64%);
}

/*Media Queries*/
@media (max-width: 768px) {
    .features {
        display: flex;
        flex-direction: column;
    }
}